<%- include('header.ejs',{titulo:'Gestion de Autos'});%>

<div class="container">


    <% const existeMensaje = typeof mensaje!== "undefined"%>

    <%if(existeMensaje){ %>
        <div class=" <%=clase%>" role="alert">
            <span class="font-weight-bold">
                MENSAJE
            </span> : <%=mensaje%>
    </div>
    <% } %>


    <div class="row">
        <div class="col-sm-6">
            <% const estaCreando = typeof auto === "undefined"%>


            <h1> <%= estaCreando ? 'Crear':'Actualizar' %> auto</h1>

            <p><%= estaCreando ? 'Cree':'Actualice' %> un auto</p>

            <!-- emmet -->
            <form action="/auto/<%= estaCreando ? 'crear' : 'actualizar' %>-auto/<%= estaCreando ? '' : auto.idAuto %>"
                  method="POST">

                <div>
                    <label for="chasis">Chasis</label>
                    <input id="chasis"
                               name="chasis"
                               type="number"
                               value="<%= estaCreando ? '' : auto.chasis %>"
                    >
                </div>

                <div>
                    <label for="nombreMarca">Nombre de la marca</label>
                    <input id="nombreMarca"
                           name="nombreMarca"
                           type="text"
                           value="<%= estaCreando ? '' : auto.nombreMarca %>"
                    >
                </div>

                <div>
                    <label for="nombreModelo">Nombre del modelo</label>
                    <input id="nombreModelo"
                           name="nombreModelo"
                           type="text"
                           value="<%= estaCreando ? '' : auto.nombreModelo %>"
                    >
                </div>

                <div>
                    <label for="colorUno">Color uno del auto</label>
                    <input id="colorUno"
                           name="colorUno"
                           type="text"
                           value="<%= estaCreando ? '' : auto.colorUno %>"
                    >
                </div>

                <div>
                    <label for="colorDos">Color dos del auto</label>
                    <input id="colorDos"
                           name="colorDos"
                           type="text"
                           value="<%= estaCreando ? '' : auto.colorDos %>"
                    >
                </div>

                <div>
                    <label for="anio">Año del auto</label>
                    <input id="anio"
                           name="anio"
                           type="number"
                           min="1950"
                           max="2019"
                           step="1"
                           value="<%= estaCreando ? '' : auto.anio %>"
                    >
                </div>

                <div class="form-group">
                    <label for="conductor">seleccionar un conductor</label>
                    <select  class="form-control" id="conductor" name="conductor">

                        <% arregloConductores.forEach( (conductor)=> { %>
                            <option
                                value="<%=conductor.idConductor %>"
                            > 
                                <%=conductor.nombre  %> 
                                <%=conductor.apellido  %>
                            </option>
                        <% }) %>

                    </select>
                </div>

                    
                    <button><%= estaCreando ? 'Crear' : 'Actualizar' %> auto</button>
                </form>
<!--  -->

            <a href="/auto/inicio">
                <button>Regresar</button>
            </a>
        </div>
        
    </div>
</div>


<%- include('librerias.ejs')%>
<script>

const etiquetaSelectConductor = document.getElementById('conductor');
let valorActualConductor = etiquetaSelectConductor.value;

etiquetaSelectConductor.onchange = (evento) =>{
        valorActualConductor = etiquetaSelectConductor.value;
        console.log("Conductor ejs: "  +valorActualConductor + "tipo: "+ typeof(valorActualConductor));
        
    };

</script>


<%- include('footer.ejs')%>