
<%- include('header',{titulo:'Gestion de Conductores'}); %>

<div class="container">


    <% const existeMensaje = typeof mensaje!== "undefined"%>

    <%if(existeMensaje){ %>
    <div class=" <%=clase%>" role="alert">
        <span class="font-weight-bold">
            MENSAJE
        </span> : <%=mensaje%>
    </div>
    <% } %>

    <h1>Gestion de conductores</h1>
    <p>Busque, cree, actualice y elimine conductores
        Puede buscar conductores por  el nombre, el apellido o ...</p>

    <% if(booleano){%>
        <p> Usted creo un Conductor</p>
    <% }%>
    <form method="get" action="/conductor/inicio" >
        <div class="row">
            <div class="col-sm-9">
                <label for="busqueda">Busqueda</label>
                <input id="busqueda" type="text" name="busqueda">
                <br>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-outline-success btn-block">
                    Buscar
                </button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-sm-9"></div>
        <div class="col-sm-3">
            <a href="/conductor/crear-conductor" class="quitar-link">
                <button class="btn btn-outline-success btn-block">
                    Crear conductor
                </button>
            </a>
        </div>
    </div>

    <h2> lista de conductores</h2>
    <p>Listado de las conductores, actualice o elimine conductores</p>

    <br>

    <div class="scroll-tabla">
        <table class="table table-hover animated slideInLeft">
            <!-- tr -> table row -->
            <thead>
            <tr>
                <!-- th -> table header -->
                <th width= "auto">Nombre</th>
                <th width="auto">Apellido</th>
                <th width="auto">Fecha de nacimiento</th>
                <th width="auto">Licencia valida</th>
                <th width="auto">Acciones</th>
                
            </tr>
            </thead>
            <!-- tr -> table row -->
            <tbody>
            <% arreglo.forEach( (conductor)=> { %>
                <tr>
                    <td><%= conductor.nombre %></td>
                    <td><%= conductor.apellido %></td>
                    <td><%= conductor.fechaDeNacimiento %></td>
                    <td><%= conductor.licenciaValida %></td>                   
                    <td>
                        <form action="/conductor/eliminar/<%= conductor.idConductor %>" method="POST">
                            <button class="btn btn-outline-danger btn-block"
                                    type="submit">
                                Eliminar
                            </button>
                        </form>
                        <a class="quitar-link"
                           href="/conductor/actualizar-conductor/<%= conductor.idConductor %>">
                            <button class="btn btn-outline-info btn-block">
                                Actualizar
                            </button>
                        </a>
                    </td>
                </tr>
            <% }) %>
            </tbody>

        </table>
    </div>
</div>

<%- include('librerias.ejs');%>
<script>
    //nuestros js
</script>

<%- include('footer');%>