
<%- include('header',{titulo:'Evento'}); %>

<div class="container">

    <% const existeNombreEvento = typeof nombreEvento!== "undefined"%>

    <%if(existeNombreEvento){ %>
        <p class="font-weight-bold">
            <%=nombreEvento%>
        </p>  
    <% } %>





        <% arreglo.forEach( (conductor)=> { %>

    <br>
        <br>
        <div class="row">
            <div class="col-sm-4" style="background-color:lavender;"><%= conductor.nombre %></div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="background-color:lavender;"><%= conductor.apellido %></div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="background-color:lavender;"><%= conductor.fechaDeNacimiento %></div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="background-color:lavender;"><%= conductor.licenciaValida %></div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
        </div>

    <br>
    <br>

        <% }) %>




</div>

<%- include('librerias.ejs');%>

<%- include('footer');%>