
<%- include('header',{titulo:'Evento'}); %>

<div class="container">

    <% const existeNombreEvento = typeof nombreEvento!== "undefined"%>

    <%if(existeNombreEvento){ %>
        <p class="font-weight-bold">
            <%=nombreEvento%>
        </p>  
    <% } %>


    
    
    <div class="row">
        <% arreglo.forEach( (conductor)=> { %>
            <div class="col-md-2">
                <thead>
                    <tr>
                        <tr><%= conductor.nombre %></tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <tr><%= conductor.apellido %></tr>
                        <tr><%= conductor.fechaDeNacimiento %></tr>
                        <tr><%= conductor.licenciaValida %></tr>
                    </tr>                            
                </tbody>
            </div>

        <% }) %>
    </div>

</div>

<%- include('librerias.ejs');%>

<%- include('footer');%>